.adminbookappLayout { 
    display:flex; 
    height:100vh; 
}

.adminbookmain { 
    flex:1; 
    display:flex; 
    flex-direction:column;
    min-width:0; 
}

.adminbookHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.adminbookcardIcon svg{
    stroke: var(--green-mid);
    transition: ease 0.3s;
}

.adminbookcardIcon svg:hover {
    stroke: var(--green);
    scale: 1.15;
}

.adminbookcontentRow { 
    display:flex; 
    gap:16px; 
    align-items:stretch; 
    height:100%; 
    min-width:0; 
}

.adminbooktableCard { 
    flex:1; 
    background:#fff; 
    border-radius:12px; 
    margin:15px; 
    padding:18px; 
    display:flex; 
    flex-direction:column; 
    overflow:hidden; 
    height: 470px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.adminbooktableWrap { 
    overflow:auto; 
    border-radius:8px; 
    flex:1; 
    min-width:0; 
}

.adminbookcardTitle {
    color: var(--blue);
    font-size: 20px;
    font-weight: 700;
}

.adminBooks { 
    width:100%; 
    border-collapse:collapse; 
    min-width:780px; 
}

.adminBooks thead th { 
    padding:12px 14px; 
    border-bottom:2px solid #ececec; 
    font-weight:700; 
}

.adminBooks tbody td { 
    padding:12px 14px; 
    border-bottom:1px solid #f0f0f0; 
}

.adminBooks tbody tr:hover { 
    background:#f7f7f7; 
}

.adminBooks svg {
    stroke-width: 3;
    color: var(--orange-mid);
    transition: ease 0.4s;
}

.adminBooks svg:hover {
    color: var(--orange);
    scale: 1.2;
}