.adminsidebar {
    width: 210px;
    height: 100vh;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    box-sizing: border-box;
    border-top-right-radius: 25px;
}

.admintop {
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.admintop img {
    width: 130px;
    height: auto;
}

.adminmid {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 0 10px;
}

.adminbottom {
    padding: 20px;
}

.admin-link {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--white-light);
    font-size: 16px;
    transition: ease 0.5s;
}

.admin-link svg {
    margin-right: 15px;
    stroke: var(--white-light);
    transition: ease 0.5s;
}

.admin-link:hover {
    color: var(--white);
}

.admin-link:hover svg{
    stroke: var(--white);
}

.admin-link.active {
    color: var(--white);
    font-weight: 700;
    font-size: 21px;
}

.admin-link.active svg {
    stroke: var(--white);
    stroke-width: 3;

}
.logoutbtn {
    width: 100%;
    padding: 10px 20px;
    border: 2px solid var(--white-light);
    background-color: transparent;
    color: var(--white-light);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.logoutbtn svg {
    stroke: var(--white-light);
    transition: stroke 0.5s ease;
}

.logoutbtn:hover {
    background-color: var(--red);
    border: 2px solid var(--red);
    color: var(--white);
    font-weight: bold;
}

.logoutbtn:hover svg {
    stroke: var(--white);
    stroke-width: 2;
}