.aoverdueappLayout { 
    display:flex; 
    height:100vh; 
}

.aoverduemain { 
    flex:1; 
    display:flex; 
    flex-direction:column;
    min-width:0; 
}

.borrowed-content{ 
    flex:1; 
    padding:var(--content-padding); 
    display:flex; 
    flex-direction:column; 
}

.aoverduecontentRow { 
    display:flex; 
    gap:16px; 
    align-items:stretch; 
    height:100%; 
    min-width:0; 
}

.aoverduetableCard { 
    flex:1; 
    background:#fff; 
    border-radius:12px; 
    margin:15px; 
    padding:18px; 
    display:flex; 
    flex-direction:column; 
    overflow:hidden; 
    height: 470px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.aoverduetableWrap { 
    overflow:auto; 
    border-radius:8px; 
    flex:1; 
    min-width:0; 
}

.aoverduecardTitle {
    color: var(--green);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.aoverduetable { 
    width:100%; 
    border-collapse:collapse; 
    min-width:780px; 
}

.aoverduetable thead th { 
    padding:12px 14px; 
    border-bottom:2px solid #ececec; 
    font-weight:700; 
}

.aoverduetable tbody td { 
    padding:12px 14px; 
    border-bottom:1px solid #f0f0f0; 
}

.aoverduetable tbody tr:hover { 
    background:#f7f7f7; 
}

.aoverduetable svg {
    stroke-width: 3;
    color: var(--red-mid);
    transition: ease 0.4s;
}

.aoverduetable svg:hover {
    color: var(--red);
    scale: 1.2;
}