.bookworm {
  width: 58px;
  background: #000;
  border-radius: 12px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  gap:28px;
  padding: 18px 6px;
  align-self: stretch;
}

.vw{
  color:#fff; font-weight:800; letter-spacing:2px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size:16px;
}
