.actionBar {
  display:flex;
  justify-content: right;
  padding:10px 18px;
  background: var(--white);
}

.rightGroup { 
  display:flex; 
  align-items: right; 
  gap:12px; 
}

.checkoutBtn {
  display:flex; 
  align-items:center; 
  gap:8px;
  background:var(--orange-mid); 
  color:var(--black); 
  border:none; 
  padding:8px 20px;
  border-radius:10px; 
  cursor:pointer;
  font-size: 16px;
  font-weight:800;
  transition: ease 0.3s;
}

.checkoutBtn:hover {
  background:var(--orange); 
}

.checkoutBtn svg {
  stroke-width: 4px;
}

.search input {
  width:260px; 
  height:36px; 
  padding:0 12px; 
  border-radius:10px; 
  border:1px solid #ccc;
}